:root{
    --sidebarheading: var(--theme-color);
}

section {
    padding-top: 60px;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin: 0;

    padding-bottom: 40px;
}

.column1 picture img {
    width: 100%;
    height: auto;
}

.mostviewed{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 30px 15px var(--infoshadow);
    border-top: 4px solid var(--theme-color);
}

.mostviewed h2 {
    color: var(--sidebarheading);
    padding-bottom: 15px;
    position: relative;
    font-size: calc(1.325rem + .5vw);
}

.mostviewed h2::after {
    content: '';
    background: linear-gradient(to right, var(--theme-color), white);
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100px;
    height: 4px;
}


.column2>img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    position: sticky;
    top: 80px;
}

.mostviewedvideo {
    margin: 20px 0;
}

.mostviewedvideo {
    display: flex;
    gap: 5px;
}

.mostviewedvideo img {
    border-radius: 4px;
    width: 90px;
    height: auto;
    aspect-ratio: 3/2;
    margin-top: 4px;

}

.mstvdcontent a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    line-height: 1.4;
}

.mstvdcontent a:hover {
    color: var(--theme-color);
}

.viewed-date {
    margin-top: 5px;
    font-size: 13px;
}

.viewed-date i {
    color: var(--theme-color);
}

.comments-iframe {
    margin: 20px 0;
}

.comments-iframe iframe {
    min-height: 300px;
    height: auto !important;
}

.search-here {
    text-align: center;
}

.search-bar {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.search-bar button {
    top: 50%;
    right: 20px;
    border: none;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    transform: translate(0, -50%);
    background-color: transparent;
}

.column1 h2{
    margin-top: 40px;
}

.search-here label {
    display: block;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
}


.search-here input {
    outline: 0;
    width: 100%;
    font-size: 20px;
    padding: 12px 50px 12px 12px;
}

.search-here span {
    display: block;
    margin-top: 50px;
}

.search-here a {
    font-weight: 500;
    padding: 13px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

.search-here a:hover {
    transition: .5s;
    color: white;
    background-color: var(--theme-color);
}

@media screen and (max-width: 1000px) {
    .section-wrapper {
        grid-template-columns: 1fr;
    }

    .column2 {
        display: none;
    }

    h1 {
        font-size: 27px;
    }
}

@media screen and (max-width: 800px) {
    .search-here label {
        font-size: 27px;
    }

    .search-here div {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 25px;
    }

    section {
        padding: 30px 0;
    }

    .column1 {
        padding: 15px 5%;
        border-radius: 0;
    }

    .search-here label {
        font-size: 22px;
    }
}